body {
    background-color: hsl(0, 4%, 71%);
    font-family: 'DM Sans';
}

.container {
    display: grid;
    background-color: hsl(0, 0%, 100%);
    gap: 70px;
    padding: 20px;
}

.item1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    background-color: hsl(256, 67%, 59%);
    color: white;
    text-align: center;
    font-size: 70px;
    border-radius: 25px;
    /* height: 400px;
    width: 700px; */
}

.item1 p {
    font-size: 50px;
}

.item1 span {
    color: hsl(39, 100%, 71%);
}

.item2 {
    background-color: white;
    grid-row: 2;
    grid-column: 2;
    text-align: left;
    font-size: 40px;
    /* width: 300px;
    height: 350px; */
    padding: 40px;
    border-radius: 25px;
}

.item2 img {
    width: 400px;
    height: 100px;
    object-fit: cover;
    object-position: 55px 0;
}

.item3 {
    background-color: hsl(39, 100%, 71%);
    grid-row: 2;
    grid-column: 3;
    font-size: 40px;
    border-radius: 25px;
    padding: 40px;
    padding-bottom: 0;
}

.item3 img {
    margin-bottom: -10px;
    height: 170px;
    width: 400px;
    object-fit: cover;
    object-position: 0 30px;
}

.item4 {
    background-color: hsl(254, 88%, 90%);
    grid-column: 4;
    grid-row: 1 / span 2;
    border-radius: 25px;
    font-size: 50px;
    padding: 20px;
    padding-left: 100px;
    justify-content: left;
    text-align: left;
}

.item4 img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    object-position: 100px 0;
    margin-right: -20px;
}

.item4 h2 {
    padding-left: 60px;
}

.item4 p {
    font-size: 40px;
    text-align: left;
    padding-left: 60px;
}

.item5 {
    background-color: hsl(256, 67%, 59%)
    ;
    border-radius: 25px;
    grid-row: 3;
    grid-column: 3 / span 2;
    display: flex;
    color: white;
    font-size: 50px;
    text-align: left;
    padding: 30px;
}

.item6 {
    background-color: #fff;
    border-radius: 40px;
    padding: 40px;
    font-size: 80px;
    grid-row: 3;
    grid-column: 2;
}

.item6 h2 {
    margin-top: 0;
}

.item6 p {
    font-size: 30px;
    margin-top: -85px;
    margin-bottom: 50px;
}

.item6 img {
    margin-bottom: -20px;
}

.item7 {
    background-color: hsl(31, 66%, 93%);
    font-size: 40px;
    padding: 40px;
    border-radius: 40px;
    grid-column: 1;
    grid-row: 1 ;
}

.item7 span {
    color: hsl(256, 67%, 59%);
}

.item8 {
    background-color: hsl(39, 100%, 71%);
    border-radius: 40px;
    grid-row: 2 / span 2;
    font-size: 50px;
    padding: 40px;
}


/* Responsive */
@media (max-width: 600px) {
    .item1 {
        grid-row: 1;
        grid-column: 1;
        padding: 60px;
        width: 80%;
        padding-top: 0;
    }   
    
    .item2 {
        grid-row: 2;
        grid-column: 1;
        padding: 40px;
        width: 85%;
        padding-top: 0;
    } 

    
    .item2 img {
        width: 100%;
        height: 150px;
        object-fit: none;
    }

    .item3 {
        grid-row: 3;
        grid-column: 1;
        width: 80%;
    } 
    
        
    .item3 h2 {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
    }
    
    .item3 img {
        height: 300px;
        width: 100%;
        object-fit: none;
        margin-top: 0;
        padding-top: 0;
    }
    
    .item4 {
        grid-row: 4;
        grid-column: 1;
        padding: 10px;
        text-align: center;
        padding-left: 0;
        padding-bottom: 0;
        width: 88%;
    }  
    
    .item4 h2 {
        font-size: 60px;
    }

    .item4 p {
        margin-top: 0;
    }
    
    .item4 img {
        width: 100%;
        height: 100%;
        object-fit: none;
        margin: 0;
        margin-right: 10px;
        padding-bottom: 0;

    }

    .item5 {
        grid-row: 5;
        grid-column: 1;
        flex-direction: column;
        width: 80%;
    }   
    
    .item6 {
        grid-row: 6;
        grid-column: 1;
    }    .item7 {
        grid-row: 7;
        grid-column: 1;
    }    .item8 {
        grid-row: 8;
        grid-column: 1;
    }
}


@font-face {
    font-family: 'DM Sans';
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}